/*
  Icon Font: fontcustom
*/

@font-face {
  font-family: "fontcustom";
  src: url("./fontcustom.eot");
  src: url("./fontcustom.eot?#iefix") format("embedded-opentype"),
       url("./fontcustom.woff") format("woff"),
       url("./fontcustom.ttf") format("truetype"),
       url("./fontcustom.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-alpacawool-circle:before,
.icon-bikecredit:before,
.icon-birthday:before,
.icon-blankcard-circle:before,
.icon-blankcard:before,
.icon-blogswelove-circle:before,
.icon-blogswelove:before,
.icon-circle:before,
.icon-cotton-circle:before,
.icon-cotton:before,
.icon-elepoo-circle:before,
.icon-elepoo:before,
.icon-emotive-circle:before,
.icon-emotive:before,
.icon-facebook-circle:before,
.icon-facebook:before,
.icon-fairwage-circle:before,
.icon-forwardthinking-circle:before,
.icon-forwardthinking:before,
.icon-heirloom-circle:before,
.icon-heirloom:before,
.icon-holstee-logo:before,
.icon-holsteeh-circle:before,
.icon-holsteeh:before,
.icon-instagram-circle:before,
.icon-instagram:before,
.icon-letterpress-circle:before,
.icon-letterpress:before,
.icon-madeinusa-circle:before,
.icon-madeinusa:before,
.icon-mailready-circle:before,
.icon-mailready:before,
.icon-quality-circle:before,
.icon-quality:before,
.icon-reclaimed-circle:before,
.icon-refreshedlogo:before,
.icon-refreshedlogocircle:before,
.icon-refreshedlogofill:before,
.icon-remotework:before,
.icon-rss-circle:before,
.icon-rss:before,
.icon-search-circle:before,
.icon-search:before,
.icon-seasonalretreat:before,
.icon-simple-circle:before,
.icon-simple:before,
.icon-slim-profile:before,
.icon-snowflake-circle:before,
.icon-submitstory-circle:before,
.icon-submitstory:before,
.icon-teamlunches:before,
.icon-tumblr-circle:before,
.icon-tumblr:before,
.icon-twitter-circle:before,
.icon-twitter:before,
.icon-upcycled-circle:before,
.icon-waterbased-circle:before,
.icon-weeklyrefresh-circle:before,
.icon-weeklyrefresh:before,
.icon-youthtrade-circle:before,
.icon-youthtrade:before,
.icon-youtube-circle:before,
.icon-youtube:before {
  font-family: "fontcustom";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
}

.icon-alpacawool-circle:before { content: "\f100"; }
.icon-bikecredit:before { content: "\f101"; }
.icon-birthday:before { content: "\f102"; }
.icon-blankcard-circle:before { content: "\f103"; }
.icon-blankcard:before { content: "\f104"; }
.icon-blogswelove-circle:before { content: "\f105"; }
.icon-blogswelove:before { content: "\f106"; }
.icon-circle:before { content: "\f107"; }
.icon-cotton-circle:before { content: "\f108"; }
.icon-cotton:before { content: "\f109"; }
.icon-elepoo-circle:before { content: "\f10a"; }
.icon-elepoo:before { content: "\f10b"; }
.icon-emotive-circle:before { content: "\f10c"; }
.icon-emotive:before { content: "\f10d"; }
.icon-facebook-circle:before { content: "\f10e"; }
.icon-facebook:before { content: "\f10f"; }
.icon-fairwage-circle:before { content: "\f110"; }
.icon-forwardthinking-circle:before { content: "\f111"; }
.icon-forwardthinking:before { content: "\f112"; }
.icon-heirloom-circle:before { content: "\f113"; }
.icon-heirloom:before { content: "\f114"; }
.icon-holstee-logo:before { content: "\f115"; }
.icon-holsteeh-circle:before { content: "\f116"; }
.icon-holsteeh:before { content: "\f117"; }
.icon-instagram-circle:before { content: "\f118"; }
.icon-instagram:before { content: "\f119"; }
.icon-letterpress-circle:before { content: "\f11a"; }
.icon-letterpress:before { content: "\f11b"; }
.icon-madeinusa-circle:before { content: "\f11c"; }
.icon-madeinusa:before { content: "\f11d"; }
.icon-mailready-circle:before { content: "\f11e"; }
.icon-mailready:before { content: "\f11f"; }
.icon-quality-circle:before { content: "\f120"; }
.icon-quality:before { content: "\f121"; }
.icon-reclaimed-circle:before { content: "\f122"; }
.icon-refreshedlogo:before { content: "\f123"; }
.icon-refreshedlogocircle:before { content: "\f124"; }
.icon-refreshedlogofill:before { content: "\f125"; }
.icon-remotework:before { content: "\f126"; }
.icon-rss-circle:before { content: "\f127"; }
.icon-rss:before { content: "\f128"; }
.icon-search-circle:before { content: "\f129"; }
.icon-search:before { content: "\f12a"; }
.icon-seasonalretreat:before { content: "\f12b"; }
.icon-simple-circle:before { content: "\f12c"; }
.icon-simple:before { content: "\f12d"; }
.icon-slim-profile:before { content: "\f12e"; }
.icon-snowflake-circle:before { content: "\f12f"; }
.icon-submitstory-circle:before { content: "\f130"; }
.icon-submitstory:before { content: "\f131"; }
.icon-teamlunches:before { content: "\f132"; }
.icon-tumblr-circle:before { content: "\f133"; }
.icon-tumblr:before { content: "\f134"; }
.icon-twitter-circle:before { content: "\f135"; }
.icon-twitter:before { content: "\f136"; }
.icon-upcycled-circle:before { content: "\f137"; }
.icon-waterbased-circle:before { content: "\f138"; }
.icon-weeklyrefresh-circle:before { content: "\f139"; }
.icon-weeklyrefresh:before { content: "\f13a"; }
.icon-youthtrade-circle:before { content: "\f13b"; }
.icon-youthtrade:before { content: "\f13c"; }
.icon-youtube-circle:before { content: "\f13d"; }
.icon-youtube:before { content: "\f13e"; }
